<!DOCTYPE html>
<html>

  <head>
    <title>gLandlord - List Properties</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
	<style>
body {
  color: #2c3e50;
  background: #ecf0f1;
  padding: 0 1em 1em;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}

input.accordion {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

	</style>
  </head>

  <body>
    <div id="app">
	  <h1>gLandlord - List Properties</h1>
	  <div>Number of Properties: {{ landlord.houses.length }}</div>
  
      <div class="tabs">
	    <divhouse v-for="(house,index) in landlord.houses" :value="house.id" :index="index" :key="index"></divhouse>
      </div>
	
<!-- Pure CSS Accordion Example 
<h3>Pure CSS Accordion <sup>2.0</sup></h3>
<div class="row">
  <div class="col">
    <h2>Open <b>multiple</b></h2>
    <div class="tabs">
      <div class="tab">
        <input class="input-accordion" type="checkbox" id="chck1">
        <label class="tab-label" for="chck1">Item 1</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
        </div>
      </div>
      <div class="tab">
        <input class="input-accordion" type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <h2>Open <b>one</b></h2>
    <div class="tabs">
      <div class="tab">
        <input class="input-accordion" type="radio" id="rd1" name="rd">
        <label class="tab-label" for="rd1">Item 1</label>
        <div class="tab-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
        </div>
      </div>
      <div class="tab">
        <input class="input-accordion" type="radio" id="rd2" name="rd">
        <label class="tab-label" for="rd2">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
        </div>
      </div>
      <div class="tab">
        <input class="input-accordion" type="radio" id="rd3" name="rd">
        <label for="rd3" class="tab-close">Close others &times;</label>
      </div>
    </div>
  </div>
</div>
-->

      <h3>Add Property</h3>
	  <input v-model="newPropertyId"><button v-on:click="addProperty()">Add Property</button>
	  
	</div> <!-- #app -->
  </body>

  <script type="text/javascript">
	/* Model */
	  var landlord = {}
	  var landlord1 = 
	  {
  "id": "landlord",
  "houses": [
    {
      "transactions": [
        {
          "date": "2019-10-25T10:55:24.559Z",
          "type": "transfer",
          "idrQuote": 1261128,
          "idrPaid": 1300000,
          "to": "Tasya",
          "fromBank": "BCA",
          "comment": "Bayar tagihan maintenance Akasa"
        }
      ],
      "comments": [
        {
          "date": "2019-10-25T10:59:11.240Z",
          "message": "\nYth Bpk/Ibu Wawat Krismawati,\n\nBerikut ini adalah rincian tagihan atas unit *020536* Sudah jatuh tempo .Mohon dapat dibayarkan *HARI INI* untuk  menghindari denda,  pemutusan sementara aliran air, pembelian token listrik dan/atau access card.    \n\nTagihan IPL      :Rp. 1.261.128 ,-\nTagihan Air      :Rp.  ,-             * \nTagihan Total :Rp. 1.261.128 ,-*\n\nHarap melakukan pembayaran melalui Rekening Bank OCBC NISP No: *90234020536*\n\nMohon abaikan pesan ini apabila Bpk/Ibu telah melakukan pembayaran. Bukti pembayaran dapat dikirim melalui email ke *_fa.pppsrs@akasa-bsdcity.com_* atau melalui WhatApp ini\n\nTerima Kasih,\nFinance Collection Akasa"
        }
      ],
      "documents": [],
      "rent": {
        "units": [
          {
            "availableNow": true,
            "feeMonthly": 1250000,
            "free3Months": 400000,
            "fee3Months": 400000,
            "feeYearly": 12000000,
            "id": 1,
            "name": "Akasa",
            "contracts": [
              {
                "end": "2019-12-31",
                "start": "2019-09-01",
                "durationMonth": 3,
                "lessee": {
                  "name": "Penyewa",
                  "id": 1,
                  "idType": "KTP",
                  "address": "",
                  "phone": ""
                },
                "active": true,
                "fee": 85000000,
                "feePaid": false,
                "deal": {
                  "dealPrice": 85000000,
                  "dateStart": "2019-11-15",
                  "dateEnd": "2021-11-14",
                  "payments": [
                    {
                      "date": "2019-10-18",
                      "amount": 5000000,
                      "paid": false,
                      "comment": "Pembayaran DP"
                    },
                    {
                      "date": "2019-11-15",
                      "amount": 40000000,
                      "paid": false,
                      "comment": "Pelunasan Tahap 1"
                    },
                    {
                      "date": "2019-11-15",
                      "amount": 1000000,
                      "paid": false,
                      "comment": "Deposit"
                    },
                    {
                      "date": "2020-05-14",
                      "amount": 35000000,
                      "paid": false,
                      "comment": "Pelunasan Tahap 2"
                    }
                  ]
                }
              }
            ]
          }
        ]
      },
      "id": "akasa",
      "description": "",
      "detail": {
        "city": "",
        "address": "",
        "type": "",
        "pbb": "",
        "assetValue": 100000000,
        "yearBuy": 2019
      },
      "annualTaxes": []
    },
    {
      "rent": {
        "units": [
          {
            "availableNow": true,
            "feeMonthly": 1250000,
            "free3Months": 400000,
            "fee3Months": 400000,
            "feeYearly": 12000000,
            "id": 1,
            "name": "Srisuci",
            "contracts": [
              {
                "end": "2019-12-31",
                "start": "2019-09-01",
                "durationMonth": 3,
                "lessee": {
                  "name": "Penyewa",
                  "id": 1,
                  "idType": "KTP",
                  "address": "",
                  "phone": ""
                },
                "active": true,
                "fee": 300000,
                "feePaid": true
              }
            ]
          }
        ]
      },
      "id": "srisuci",
      "description": "",
      "documents": [],
      "transactions": [],
      "comments": [],
      "detail": {
        "city": "",
        "address": "",
        "type": "",
        "pbb": "",
        "assetValue": 100000000,
        "yearBuy": 2019
      },
      "annualTaxes": []
    },
    {
      "id": "suryalaya",
      "description": "",
      "rent": {
        "units": []
      },
      "documents": [],
      "transactions": [],
      "comments": [],
      "detail": {
        "city": "",
        "address": "",
        "type": "",
        "pbb": "",
        "assetValue": 100000000,
        "yearBuy": 2019
      },
      "annualTaxes": []
    }
  ]
}

var srisuci = {
  "annualTaxes": [
    {
      "datePayment": "",
      "idrPaid": 0,
      "year": 2019
    }
  ],
  "comments": [
    {
      "date": "2020-05-13",
      "message": "Uang masuk perpanjang sewa 20jt, sisa 19jt\n\n13/05\nTRSF E-BANKING CR\n05/13 95031\nBIAYA SEWA RUMAH\nWIDIYANA RACHMAN H\n0000\n20,000,000.00"
    }
  ],
  "description": "",
  "detail": {
    "address": "Jl. Raya Ciwidey Blok Warung, RT/RW 02/02, Desa Tenjolaya, Kecamatan Pasirjambu, Kabupaten Bandung"
  },
  "documents": [],
  "id": "srisuci",
  "rentUnits": [
    {
      "active": true,
      "comment": "Sewa 2 Tahun = 85t + 1jt deposit, dibayar bertahap.\nTahap 1: 5jt DP\nTahap 2: 45jt + 1jt Deposit\nTahap 3: 20jt + 19jt (sisanya belum dibayar)",
      "dateEnd": "2021-11-14",
      "dateStart": "2019-11-15",
      "durationMonth": 24,
      "fee": 85000000,
      "feePaid": true,
      "lessee": {
        "address": "Jl. Situsari Wetan No. 3",
        "contacts": [
          {
            "name": "Widiyana Rachman Hidayat",
            "phone": ""
          },
          {
            "email": "firdaus.agenproperti@gmail.com",
            "name": "Firdaus, Agen",
            "phone": "+6287722119181"
          }
        ],
        "email": "",
        "id": 1,
        "idNumber": "3273131801870001",
        "idType": "KTP",
        "name": "Widiyana Rachman Hidayat"
      },
      "payments": [
        {
          "amount": 29000000,
          "comment": "Terima via BCA",
          "date": "2019-12-20",
          "paid": true
        },
        {
          "amount": 29000000,
          "comment": "Terima via BCA",
          "date": "2019-12-20",
          "paid": true
        },
        {
          "amount": 35000000,
          "comment": "Rencana Cicilan ketiga utk confirm 2 tahun",
          "date": "2020-05-14",
          "paid": false
        },
        {
          "amount": 20000000,
          "comment": "Uang masuk perpanjang sewa 20jt, sisa 19jt\n\n13/05\nTRSF E-BANKING CR\n05/13 95031\nBIAYA SEWA RUMAH\nWIDIYANA RACHMAN H\n0000\n20,000,000.00",
          "date": "2020-05-13",
          "paid": true
        }
      ]
    }
  ],
  "transactions": [
    {
      "comment": "Bayar tagihan maintenance Akasa",
      "date": "2019-10-25T10:55:24.559Z",
      "fromBank": "BCA",
      "idrPaid": 1300000,
      "idrQuote": 1261128,
      "to": "Tasya",
      "type": "transfer"
    }
  ],
  "version": "0.0.11"
}
	</script>
	
  <script type="text/javascript">
    /* Model */
	function updateLocalStorage() {
	  localStorage.setItem("landlord",JSON.stringify(app.landlord))
	}
  </script>
	

  <script type="text/javascript">
    Vue.component("divhouse", {
	  props: ["value","index"],
	  data() {
	    return {
		  internalValue: this.value,
		  house: landlord1.houses[this.index]
		}
      },
	  template: '<div class="tab"><input class="accordion" type="checkbox" :id="house.id"><label class="tab-label" :for="house.id">{{house.id}}</label><div class="tab-content">{{house}}</div></div>'
    })
    var app = new Vue({
	  el: '#app',
      data: {
        message: 'Hello Vue!',
		landlord: landlord1,
		newPropertyId: ''
      },
	  methods: {
	    addProperty: function () {
		  if (this.newPropertyId) {
		    var hs = this.landlord.houses
			var ids = []
			hs.forEach((val)=>{ids.push(val.id)})
		    if (!ids.includes(this.newPropertyId)) { 
			  hs.push({"id": this.newPropertyId})			  
			} else { alert(this.newPropertyId + " is already assigned !") }
		  }
		}
	  }
    })
  </script>

	
</html>
